.registerForm {
    padding: 0;
    margin: auto;
}

.paper {
    padding: 0;
    background: rgba(51, 51, 51, 0.8);
    border: solid 1px #555;
}

.buttonPlace {
    text-align: right;
    padding-top: 1em;
}

.buttonPlace .buttonWhite {
    margin-right: 10px;
}

.terms {
    padding: 1em 0 0;
    text-align: left;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
